@charset "UTF-8";

* {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
}

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: gray;
    color: white;

    height: 4rem;
    flex: 1;
}